{% extends 'bootApp/index.html' %}


{% block content %}
    <section>
        <h3>Tourism</h3>
        <p>The city's top tourist attraction was the Notre Dame Cathedral, which welcomed an estimated 12,000,000 visitors in 2017. Second was the Basilique du Sacré-Cœur on Montmartre, with an estimated 11 million visitors. This was followed by the Louvre Museum (8.02 million visitors); the Eiffel Tower (6.2 million); Centre Pompidou (3.3 million visitors); Musée d'Orsay (3.2 million); The City of Science and Industry (2.4 million visitors); The Chapel of Our Lady of the Miraculous Medal (2 million visitors); The Museum of Natural History (1.7 million visitors); and the Arc de Triomphe (1.3 million visitors)</p>
    </section>
{% endblock %}

    <hr>

{% block footer %}
<button id="color3"><a href="{% url 'page2' %}">Previous</a></button>
{% endblock %}
